.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    width: 85%;
}


.title-container {
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, rgb(0, 0, 255), rgb(255, 0, 0)) 1;
    border-radius: 1.75rem;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 2.5rem;
    height: 9vh;
}
 
.header-link {
    width: 10vw;
    font-size: 0.9rem;
    color: #000;
}